$screen-md-min: 650px;
$screen-lg-min: 975px;

@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

.main-header {
  // position: sticky;
  // top: 0;
  // z-index: 10;
  border-bottom: solid 1px #eee;
  // background-color: rgba(255,255,255,.96);
  // box-shadow: 0px 0.01px 5px grey;

  nav ul {
    display: flex;
  }

  nav ul li {
    padding: 0 10px;
  }

  .contact-nav ul li:first-child {
    padding: 0px;
  }

  h3 {
    font-weight: bolder;
  }

  .contact-nav {

  }

  .project-nav {
    display: none;
  }

  .dropdown-trigger {
    cursor: pointer;
    position: relative;

    &:hover .fa {
      color: #888;
    }

    .mobile-nav {
      position: absolute;
      text-align: right;
      right: -11px;
      margin-top: 20px;

      li {
        margin: 10px 0;
      }

      ul {
        flex-direction: column;
      }
    }
  }

  .header-inner {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    @include lg {
      padding: 20px 75px;
    }
  }

  @include md{
    .dropdown-trigger {
      display: none;
    }

    .project-nav {
      display: block;
    }
  }
}
