.main-header {

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(255,255,255,.96);

  nav ul {
    display: flex;
  }

  nav ul li {
    padding: 0 10px;
  }

  .header-inner {
    padding: 20px 75px;
    display: flex;
    justify-content: space-between;
  }

  .contact-nav {

  }

  .project-nav {

  }
}
